@import "../../../static/utilities.scss";

.menu-background {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  .menu-info {
    font: 20px sans-serif;
    flex: 1;
  }

  .menu-content {
    flex: 2;
  }
}
