@import "../../../static/utilities.scss";

.background {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  // height: 100vh;
  align-content: center;
  align-items: center;

  .login_image {
    order: 1;
    background-image: url("Instagram-main-image.jpg");
    justify-content: center;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 60vh;
  }

  .login_info {
    order: 2;
    display: flex;
    height: 100vh;
    width: 60vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .login_content {
      align-self: center;
      margin: 10px;
    }

    .login_input {
      align-self: center;
      margin: 5px;

      .input_login {
        align-self: start;
        border-radius: 4px;
        display: flex;
        flex-direction: column;

        .field_input {
          
        }

        .box_input{

        }
      }
    }

    .login_button {
      margin: 10px;
      align-self: center;
    }
  }
}
