@import '../../../static/utilities.scss';

.background{
    // background-color: yellowgreen;
    // background-image: linear-gradient(green, yellow);
    height: 100%;
    background-image: url("./background.jpg");

    .login_wrapper {
        width: 500px;
        position: fixed;
        top: 35%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
}