@import "../../../static/utilities.scss";

.home-cart{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-image: url("vietnam.jpg");
  
  .cart-menu {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-basis: 0px;
    background-color: #3399ff;
    margin-bottom: 50px;
  }

  .cart-content {
    align-self: center;
    background-color: white;
    width: 1000px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 20px;

    .cart-title{
      margin: 40px;
      font: 40px medium sans-serif;
      padding-left: 40px;
    }

    .cart-product {
      flex: 7;
      
    }
  }
}