@import "../../../static/utilities.scss";

.home_content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .home_menu {
    // background-color: white;
    padding: 10px;
    display: flex;
    flex-basis: 0px;
    background-color: #3399ff;
    position: sticky;
    top: 0;
  }

  .home_image {
    background-image: url("fifa1.jpg");
    height: 600px;
  }

  .home_search {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 7em;
    margin: 10px 0px; 

    .menu_category {
      flex: 1;
      flex-basis: 50vh;
      display: flex;
      justify-content: flex-start;
      margin: 0px 10px;
    }

    .search_input {
      flex: 1;
      flex-basis: 50vh;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;

      .search {
        width: 300px;
        margin: 0px 10px;
        border-radius: 4px;
      }

      .add-new-button {
        height: 40px;
        border-radius: 4px;
      }
    }
  }

  .home_product {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
    justify-content: space-between;

    .product_box {
      flex-basis: 150px;
      margin: 50px 20px;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .product_image {
        width: 370px;
        margin: 10px 0px;
      }

      .product_image:hover {
        cursor: pointer;
      }

      .product_info {
        display: flex;
        flex-direction: column;

        .name {
          font: 15px sans-serif;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          margin: 5px 0px;
        }
      }
    }
  }
}

.ant-modal-body {
  display: flex;
  flex-direction: column;
  
  .user-field {
    display: flex;
    flex-direction: row;

    .field-title {
      flex: 1;
    }

    .field-input {
      flex: 1;
    }
  }
}