@import "../../../static/utilities.scss";

.userdetail_background {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 100vh;
  align-content: center;
  align-items: center;
  background-image: url("vietnam.jpg");

  .side-image {
    height: 95%;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    margin: 0px 20px;
    padding: 20px;
    display: flex;
  }

  .user-info {
    flex: 3;
    background-color: white;
    height: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 20px;

    .info-title {
      margin: 40px;
      font: 40px medium sans-serif;
      padding-left: 40px;
    }

    .info-detail {
      display: flex;
      flex-direction: column;
      overflow: scroll;
      overflow-x: hidden;
      margin: 5px;
      padding-right: 60px;
      
      .info-line {
        display: flex;
        flex-direction: row;

        .info-line-title {
          flex: 1;
          margin: 5px 20px;
          padding: 0px 0px 0px 20px;
          font: 15px sans-serif;
        }

        .info-input {
          flex: 2;
          border-radius: 20px;
          margin: 5px 50px 10px 0px;
        }
      }
    }

    .info-button-line {
      display: flex;
      justify-content: center;

      .info-button {
        margin: 10px 20px;
        border-radius: 20px;
        // background-color: ;
      }
    }
  }
}
