@import "../../../static/utilities.scss";

.userdetail_background {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  // background-image: url("vietnam.jpg");

  .side-image {
    padding: 10px;
    display: flex;
    flex-basis: 0px;
    background-color: #3399ff;
  }

  .image-backup {
    height: 400px;
    margin-bottom: 50px;
  }

  .userdetail-collapse {
    width: 800px;
    align-self: center;
    border-radius: 4px;
    margin-bottom: 50px;
  }

  .user-info {
    align-self: center;
    background-color: white;
    width: 800px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 20px;
    padding: 15px 0px;

    .info-title {
      margin: 40px 20px;
      font: 40px medium sans-serif;
      padding-left: 40px;
    }

    .info-detail {
      display: flex;
      flex-direction: column;
      margin: 5px;
      padding-right: 60px;
      
      .info-line {
        display: flex;
        flex-direction: row;

        .info-line-title {
          flex: 1;
          margin: 5px 20px;
          padding: 0px 0px 0px 20px;
          font: 15px sans-serif;
        }

        .info-input {
          flex: 2;
          border-radius: 20px;
          margin: 5px 50px 10px 0px;
        }
      }
    }

    .info-button-line {
      display: flex;
      justify-content: center;

      .info-button {
        margin: 10px 20px;
        border-radius: 20px;
        // background-color: ;
      }
    }
  }

  .change-password-view {
    display: flex;
    flex-direction: column;
    padding: 20px 120px;

    .change-password-line {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;

      .change-password-line-title {
        flex: 1;
        font: 15px sans-serif;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        flex-basis: 100px;
      }

      .change-password-line-input {
        border-radius: 10px;
        flex: 3;
        margin-left: 50px;
      }
    }

    .button-password {
      width: 120px;
      align-self: center;
      border-radius: 10px;
      margin-top: 20px;
    }
  }
}

.userdetail-header-panel {
  font: 20px sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
}